.profile__image {
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 605px) {
  .profile__image {
    margin: 0 0 30px;
  }
}
