.profile__edit-btn {
  background: url(../../../images/edit_btn.svg) no-repeat center center;
  cursor: pointer;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-top: 6px;
  padding: 0;
  border: 1px solid #fff;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.profile__edit-btn:hover {
  opacity: 60%;
}

@media screen and (max-width: 425px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
