.header {
  box-sizing: border-box;
  max-width: 880px;
  min-height: 119px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 84px;
  }
}
