.form__submit-btn {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.form__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .form__submit-btn {
    min-height: 46px;
    font-size: 14px;
  }
}
