.page__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .page__container {
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  .page__container {
    width: 100%;
  }
}
